@import url(/utilities.css);
@import url(/style.css);

.product-detail {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 100px;
}

.product-img img {
    width: 500px;
}


.product-img {
    background: #f0f0f0;
    margin: 50px;
    border-radius: 20px;
    
}


.text-content {
    padding: 6vh;
}

.title h2 {
    font-size: 40px;
    text-align: justify;
    padding-top: 20px;
}

.rating p {
    padding: 10px 0;
}

.description p {
    padding-top: 40px;
    color: #a7a5a5;
}

hr {
    margin: 20px 0;
    color: #fdfdfd;
}

.product-size button {
    padding: 9px;
    width: 100px;
    font-size: 18px;
    color: #a7a5a5;
    border-radius: 20px;
    outline: none;
    border: 0.5px solid #f0f0f0;
    margin: 2px;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.product-size button:hover {
    background-color: #000000;
    color: #ffffff;
    border: 0.5px solid #000000;
}

.product-size p {
    padding: 10px;
    font-size: 15px;
    color: #a7a5a5;
}

.add-to-card button {
    width: 50%;
    padding: 12px;
    font-size: 16px;
    border-radius: 20px;
    outline: none;
    border: none;
    background: #000000;
    color: aliceblue;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.add-to-card button:hover {
    background-color: #444444;
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}
